<% if params[:message] %>
  <p><%= params[:message]  %></p>
<% end %>
</br>
 <% if current_user %>
   Hello, <%= current_user.name %> 
   would you like to <%= link_to "create an item?", new_item_path, class: "navlink" %> 
 <% else %>
     please <%= link_to 'log in', signin_path %>
 <% end %>
</br>   
  

<p>INDEXING ALL <%= "#{@user.name}'s" if @user %> ITEMS: </p>
<% @items.each do |x| %>
  </br>
  <p><%= link_to "#{x.name}", item_path(x) %></p>
   <%= button_to "like this item", liked_items_path(x),  params: { item_id: x.id } %>
<% end %> 
</br>

<% if current_user %>
  <p>Borrowable Items:</p>
    <%= render'borrowable_items', al_items: Item.all %>
<% end %>
</br>
 
<% if @user && @user == current_user %> 
  </br>
    <p>Items allowed to borrow</p>
  </br>
  <%= render 'allow_borrow' %>
  </br> <p>Items borrowed to be returned:</p>
  </br>

  <%= render 'returnable_items' %>
  </br>
    <p>Accept a return of your borrowed out item:</p>
  </br>
  <%= render 'allow_return' %>
  </br>
  
<p>These are your items out on loan:</p>
  <% @o_items.borrowed.map do |x| %>
    </br><%= link_to "view #{x.name}", item_path(x) %>: borrowed by: <%= x.borrower.name %>
  <% end %>
</br>
 

<% end %>    